/*----------------------------------------------------------*/
/* base */
/*----------------------------------------------------------*/
body {
    background-image: url(back.png);
    color: white;
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
  }